{% load static %}
{% include 'header.html' %}


   
<!-- end nav bar -->
 
 
<!--  instructions div -->
<!-- nav bar -->
 
<div x-data="{ isOpen: false }" class="relative   overflow-hidden">
  
   

 
    <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
        
        <!-- On: "bg-indigo-600", Off: "bg-gray-200" -->
        {% include 'base.html' %}
  
        <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="sm:text-center lg:text-left">
            <h1 class="text-4xl tracking-tight font-bold text-gray-900 sm:text-5xl sm:tracking-tight md:text-6xl md:tracking-tight">
              
              <span class="block text-violet-700 xl:inline">Data Analysis</span>
            </h1>
            <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">We offer data analysis and data processing for data tables , we also allow imports from google sheets 
                , Mirosoft Excel. Also, we allow graphic displays for data analysis such as bar chats , line charts, etc. In addition, we offer   regression models.
            </p>
            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
              <div class="rounded-md shadow">
                <a href="/product" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-violet-600 hover:bg-violet-700 md:py-4 md:text-lg md:px-10"> Get started </a>
              </div>
              <div class="mt-3 sm:mt-0 sm:ml-3">
                <a href="/contact-us" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-violet-100 hover:bg-violet-200 md:py-4 md:text-lg md:px-10">Contact Us</a>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <style>
       
     </style> 
   
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2  ">
          <img  class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://media.istockphoto.com/photos/music-abstract-background-blue-equalizer-for-music-showing-sound-picture-id1153899892?b=1&k=20&m=1153899892&s=170667a&w=0&h=qCFt92zqklduSErkWUjZxrBPBeL13Xb8O3MOyIpuWqk=">
      
    </div>
 </div>

  <!-- scroll to face detect result section -->
  
  <!-- end scroll to detect section -->
           
     

  
     
   
<!-- end nav bar -->
 
 
<!--  instructions div -->
  
     
  
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-12 bg-gray-200 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h2 class="text-lg text-violet-600 font-semibold">Data Analysis</h2>
        <p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">Analyze data  with our data analysis automation software </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Here are the full details about how we process and analyze data </p>
      </div>
  
      <div class="mt-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-violet-500 text-white">
                <!-- Heroicon name: outline/globe-alt -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z" />
                </svg>
                
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Make sure you have good internet connection</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">You must have a reliable internet connection, otherwise the image will lag and our software will not be able 
              to detect a face.</dd>
          </div>
  
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-violet-500 text-white">
                <!-- Heroicon name: outline/scale -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                </svg>
                
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Press button to  process data</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">Press the button to process data,  make sure table headers 
            are correct and there are columns that contain numbers.</dd>
          </div>
  
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-violet-500 text-white">
                <!-- Heroicon name: outline/lightning-bolt -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25M9 16.5v.75m3-3v3M15 12v5.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                </svg>
                
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Import data option</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              We also have import data option from excel or google sheets , data should be in the format mentioned above.
            </dd>
          </div>
  
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-violet-500 text-white">
                <!-- Heroicon name: outline/annotation -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">It is only a matter of time</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">Finally, you just have to wait till we process your data. This process usually takes up to 60 seconds.</dd>
          </div>

         
        </dl>
        
      </div>
      <!--- ------------------------------------------------------------------ --------------------- -->
      <P>&nbsp;</P>
      <P>&nbsp;</P>
      <P>&nbsp;</P>
      <P>&nbsp;</P>


      <!-- form to submit excel link or google link to the server -->
      <form id="data-form" method="POST"  enctype='multipart/form-data'>
        {% csrf_token %}
        <div>
          <p class="text-lg py-4 leading-6 font-medium text-gray-900">Enter Google sheets link : </p>
          <input  name = "gs-link" class="relative w-full rounded-md  font-bold flex justify-center py-2 px-4 border border-gray-900 hover: focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500" placeholder="https://docs.google.com/spreadsheets/d/14jctUmzTRimMFjpklva6kSNUal4CmywYzG7vukJ09i4/edit#gid=0" >
           
        </div>
        
  
  
        
        <p class="text-lg py-4 leading-6 font-medium text-gray-900">Or Upload File from microsoft excel: </p>
        
  
        <input   class="block w-full   text-lg border border-gray-300 rounded-lg cursor-pointer   dark:text-gray-400 focus:outline-none dark:bg-violet-200 dark:border-gray-600 dark:placeholder-gray-400" id="large_size" type="file" name="excel_link">
        <p class="mt-1 text-sm text-gray-900 dark:text-gray-900" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
        
        <P>&nbsp;</P>
        <p class="text-lg py-4 leading-6 font-medium text-gray-900">Enter sheet name:</p>
        <input name="sheet-name" required  class="relative w-full rounded-md  font-bold flex justify-center py-2 px-4 border border-gray-900 hover: focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500" placeholder="Sheet1" required>
        <P>&nbsp;</P>

        <P>&nbsp;</P>
        <p class="text-lg py-4 leading-6 font-medium text-gray-900">Enter  Header table name:</p>
        <input name="header-name" required  class="relative w-full rounded-md  font-bold flex justify-center py-2 px-4 border border-gray-900 hover: focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500" placeholder="Sheet1" required>
        <P>&nbsp;</P>

        <P>&nbsp;</P>
        <p class="text-lg py-4 leading-6 font-medium text-gray-900">If you have two related tables , enter them to calculate linear regression </p>
        <p class="text-lg py-4 leading-6 font-medium text-gray-900">Enter  table 1 title:</p>
        <input name="t1-name"   class="relative w-full rounded-md  font-bold flex justify-center py-2 px-4 border border-gray-900 hover: focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500" placeholder="Item"  >
        <P>&nbsp;</P>

        <P>&nbsp;</P>
        <p class="text-lg py-4 leading-6 font-medium text-gray-900">Enter  table 2 title:</p>
        <input name="t2-name"   class="relative w-full rounded-md  font-bold flex justify-center py-2 px-4 border border-gray-900 hover: focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500" placeholder="Price" >
        <P>&nbsp;</P>



        <button  @click="isOpen = !isOpen" type="submit" class="group transition ease-in-out delay-150   hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-violet-500 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
            </svg>
            
          </span>
          Submit
        </button> 

      </form>
      
    

    </div>
  </div>


<div class="bg-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div style="position:relative;"   >
   
    {% if gs  == 2 %}
      
      <div class="overflow-hidden bg-white shadow sm:rounded-lg">


        <div class="px-4 py-5 sm:px-6">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Data Analysis  Information</h3>
          <p class="text-lg font-medium leading-6 text-gray-900">Each detail of data analysis is shown here </p>
        </div>

        <!-- display information about faces -->
        <div class="border-t border-gray-200">
          
          <dl>
            
             
            <!-- loop to display cropped images information about faces -->
            {% for i,j in acc.items %}
          
            <dd class="mt-1 text-3xl text-indigo-500 sm:col-span-2 sm:mt-0" id="face-number">Table header name : {{i}}</dd>
              {% for a,b in j.items %}
              <div class="bg-gray-50 px-4 py-5 grid-cols-2 gap-4 sm:gap-4 sm:px-6"> 
                
                <div>{{a}} : {{b}}</div>
                 
                 
              </div>
              <P>&nbsp;</P>
              {% endfor %}
              

            
            <P>&nbsp;</P>
            {% endfor %}
          </dl>

          
          
          <canvas id="bar-chart"></canvas>
          <P>&nbsp;</P>
          <P>&nbsp;</P>
          <canvas id="line-chart"></canvas>
          <P>&nbsp;</P>
          <P>&nbsp;</P>
         
          {% if t1 != "" and t2 != "" %}
          <h3 class="text-lg font-medium leading-6 text-gray-900">{{text}}</h3>
          <html>
          <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
          <P  class="block">$$ y={{eq}} $$</P> 
          <P class="text-lg font-medium leading-6 text-gray-900" >Accuracy of this model is  {% widthratio  ac 1  100  %} %</P>
          <style>
            .block {
              display: flex;
              word-break: break-all;
            }        
          </style>
          <html>
          <P>&nbsp;</P>
          <P>&nbsp;</P>
          <canvas id="lin-reg"></canvas>
          {% endif %}
          <script>
            const ctx = document.getElementById('bar-chart');
            var arr = [];
            var x = "{{l | safe }}";
            x = x.replace("[" ,"");
            x = x.replace("]" , "");
            var a = x.split(",")
            var y = "{{arr | safe}}"
            y = y.trim();
            y =  y.substring(1,y.length-1);
            f = y.split("],")
            z = "{{titles | safe }}"
            z = z.replace("]","")
            z = z.replace("[","")
            z = z.split(",")
            for (i = 0; i < f.length; i++) {
                var d = f[i].replace("[","")
                d = d.replace("]","")
                d = d.split(",")
                arr.push(d)
            }
            var entries = [];
            for (i = 0; i < arr.length; i++) {
              var y =  {
                label: z[i],
                data:  arr[i],
                borderWidth: 1
              }
              entries.push(y);
            }

            new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: a,
                  datasets: entries
                              
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
            });
            
           
          </script>
         
          <script>
            const ctx1 = document.getElementById('line-chart');

            new Chart(ctx1, {
              type: 'line',
              data: {
                  labels: a,
                  datasets: entries,
                 
                              
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                },
                animations: {
                  tension: {
                    duration: 1000,
                    easing: 'linear',
                    from: 1,
                    to: 0,
                    loop: true
                  }
                },
                
              }
            });
          </script>

          
          <script>
              const ctx3 = document.getElementById("lin-reg");
              var a = "{{x | safe}}";
              var b = "{{z | safe }}";
              var c = "{{result | safe }}";
              var a = a.replace("[" ,"");
              var a = a.replace("]","");
              var b = b.replace("[" ,"");
              var b = b.replace("]","");
              var c = c.replace("[" ,"");
              var c = c.replace("]","");
              var a = a.split(",");
              var b = b.split(",");
              var c = c.split(",")
              e1 = [];
              for (i = 0; i < b.length; i++) {
                e1.push({x: a[i], y: b[i]})
              }
              new Chart(ctx3, {
               
                data: {
                  labels: a,
                  datasets: [
                  {
                    type: 'scatter',
                    label : "Relation between " + "{{t1}} " + "and" + " {{t2}}" + "by scatter plot",
                    data: e1,
                    borderWidth: 1
                  },
                  {
                      type: 'line',
                      label:  "Relation between " + "{{t1}} " + "and" + " {{t2}}" + "by regression",
                      data:  c,
                      pointRadius: 0,
                  }

                  ]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    },
                     
                  },
                   
                  
                }
              });
                
          </script>

         







          <style>
            .lineChartContainer {
              height: 500px;
              padding: 20px 5px;
              background-color: white;
            }
            #line-chart {
              height: 500px;
              padding: 20px 5px;
              background-color: white;
            }

          </style>
        </div>



      </div>

    {% endif %}
    </div>
  </div>
   
 
  

  {% if gs == 3 %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h3 class="text-lg leading-6 font-medium text-red-900" id="modal-title">Error :  data analysis failed</h3>
      </div>
    </div>
    <P>&nbsp;</P>
  {% endif %}
</div>
