{% load static %}

<form style="display:none;" method="POST">
    {% csrf_token %}
    <input name="snap-photo-1" id="s-1">
    <input name="snap-photo-2"  id="s-2">
    <button id="p" type="submit">submit</button>
</form>
<script>
    var d = "";
    var a = document.getElementById("s-1");
    var b = document.getElementById("s-2");
    var c = document.getElementById("p");
</script>
    

<!-- face matching div -->
<div class="py-12 bg-white ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!----------------------------------------------------------------------------------------------------->
      <!-- Face Matching Instruction Div -->
      <div class="lg:text-center">
        <h2 class="text-lg text-indigo-600 font-semibold">Face Matching</h2>
        <p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">Check if both face images match</p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Please follow the nessesary instructions to  match two faces  in both of your images</p>
      </div>
  
      <div class="mt-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                <!-- Heroicon name: outline/globe-alt -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z" />
                </svg>
                
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Make sure you have good internet connection</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">You must have a reliable internet connection, otherwise the image will lag and our software will not be able 
              to detect a face.</dd>
          </div>
  
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                <!-- Heroicon name: outline/scale -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
                </svg>
                
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Press button to take a photo</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">Press the button to take a photo nnumber 1 , then take the second photo. Be sure to correctly
              position your face.
            </dd>
          </div>
  
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                <!-- Heroicon name: outline/lightning-bolt -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
                
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Upload file option</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">Another way for our software to get a photo is buy uploading a file from your local storage 
              accpeted types are jpg and png only , but upload both images.
            </dd>
          </div>
  
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                <!-- Heroicon name: outline/annotation -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">It is only a matter of time</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">Finally, you just have to wait till we process your photo. This process usually takes up to 60 seconds.</dd>
          </div>
  
         
        </dl>
        
      </div>
       
  <!----------------------------------------------------------------------------------------------> 
    </div>
  </div>
  
  <!-- end match instructions div -->
  <!-- buttons to submit -->
  

  <!-- Take photo 1 -->
 
  <div class="py-12  ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!------------------------------------------------------------------------------------------------------------->
    
      <div class="mt-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-4 md:gap-x-8 md:gap-y-10">

          <!-- Take photo 1 -->
          <div  x-data="{ isOpen: false }">
            <button type="submit" onClick="webcam1()" @click="isOpen = !isOpen" class="group transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300  relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white  bg-blue-500 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <!-- Heroicon name: solid/lock-closed -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z" />
                </svg>
                
              </span>
               Take photo 1 
            </button>
            <!-- take photo scroll div -->
            <div
                x-show="isOpen"
                x-transition:enter="ease-out duration-300 transform"
                x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave="ease-in duration-200 transform"
                x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                
            >
              <div id="error-modal-3" style="visibility:hidden;" class="fixed z-10 inset-0 overflow-y-auto">
                <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
                  <div class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                      <div class="sm:flex sm:items-start">
                        
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Take you photo now :</h3>
                            <P>&nbsp;</P>
                            <!-- CSS -->
                            <style>
                              #my_camera-1{
                                  width: 100%;
                                  height: 100%;
                      
                              }
                            </style>
                            
                           
                              <div id="my_camera-1"></div>
                               
                              
                          
                        </div>
                      </div>
                    </div>
                    <!-- virtual form just to send data to the server -->
                    
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                      <button type="button"  onclick="take_snapshot1()"  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-500 text-base font-medium text-white hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">Capture</button>
                      <script>
                        // webcam for take photo 1
                        function webcam1() {
                            Webcam.set({
                            width: 320,
                            height: 240,
                            image_format: 'jpeg',
                            jpeg_quality: 90
                            });
                            Webcam.attach( '#my_camera-1' );
                        
                        }
                        //  take snap for photo
                        function take_snapshot1() {
                        // take snapshot and get image data
                        Webcam.snap( function(data_uri) {
                            // display results in page
                             a.value = data_uri;
                             var y = document.getElementById("s-1").value;
                             var z = document.getElementById("s-2").value;
                             if(y != "" && z != "") {
                                    c.click();
                             }
                                
                        } );
                        }
                        
                      </script>


                      <button @click="isOpen = false" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <!-- Upload  photo 1 -->
          <div  x-data="{ isOpen: false }" >
            <button  @click="isOpen = !isOpen" type="submit" class="group transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <!-- Heroicon name: solid/lock-closed -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                </svg>
                
              </span>
              Upload file 1 
             
            </button> 
            <div
            x-show="isOpen"
            x-transition:enter="ease-out duration-300 transform"
            x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave="ease-in duration-200 transform"
            x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            
            >
            <div  id="error-modal-4" style="visibility:hidden;"   class="fixed z-10 inset-0 overflow-y-auto" >
              <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
                <!--
                  Modal panel, show/hide based on modal state.
          
                  Entering: "ease-out duration-300"
                    From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    To: "opacity-100 translate-y-0 sm:scale-100"
                  Leaving: "ease-in duration-200"
                    From: "opacity-100 translate-y-0 sm:scale-100"
                    To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                -->
                <div class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full">
                  <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left ">
                        
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Upload your file now:</h3>
                        <P>&nbsp;</P>
                        <form   enctype="multipart/form-data"  method="POST">
                            {% csrf_token %}
                           
                            
                            <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                                <label for="dropzone-file" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                        <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                         
                                    </div>
                                    <input id="dropzone-file" onchange="readURL(this)"   type="file" class="hidden" required>
                                   
                                    <script>
                                        function readURL(el) {
                                                if (el.files && el.files[0]) {
                                                    var FR= new FileReader();
                                                    FR.onload = function(e) {
                                                        
                                                         d =  (e.target.result);
                                                    };       
                                                    FR.readAsDataURL( el.files[0] );
                                                } 
                                         };
                                         function display1() {
                                            a.value = d;
                                            var y = document.getElementById("s-1").value;
                                            var z = document.getElementById("s-2").value;
                                            if(y != "" && z != "") {
                                                c.click();
                                            }
                                         }                                         
                                    </script>
                                </label>
                            </div> 
                            
                             
                        </form>
                        <P>&nbsp;</P>
                        <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button  onclick="display1()" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-500 text-base font-medium text-white hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">Upload</button>
                    <button     @click="isOpen = false"  class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
          </div>


          <!-- Take photo 2 -->
          <div  x-data="{ isOpen: false }">
            <button type="submit" onClick="webcam2()" @click="isOpen = !isOpen" class="group transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300  relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white  bg-blue-500 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <!-- Heroicon name: solid/lock-closed -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z" />
                </svg>
                
              </span>
               Take photo 2
            </button>
            <!-- take photo scroll div -->
            <div
                x-show="isOpen"
                x-transition:enter="ease-out duration-300 transform"
                x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave="ease-in duration-200 transform"
                x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                
            >
              <div id="error-modal-5" style="visibility:hidden;" class="fixed z-10 inset-0 overflow-y-auto">
                <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
                  <div class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                      <div class="sm:flex sm:items-start">
                        
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Take you photo now :</h3>
                            <P>&nbsp;</P>
                            <!-- CSS -->
                            <style>
                              #my_camera-2{
                                  width: 100%;
                                  height: 100%;
                      
                              }
                            </style>
                            
                           
                              <div id="my_camera-2"></div>
                               
                              
                          
                        </div>
                      </div>
                    </div>
                    <!-- virtual form just to send data to the server -->
                    
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                      <button type="button"  onclick="take_snapshot2()"  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-500 text-base font-medium text-white hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">Capture</button>
                      <script>
                        // webcam for take photo 1
                        function webcam2() {
                            Webcam.set({
                            width: 320,
                            height: 240,
                            image_format: 'jpeg',
                            jpeg_quality: 90
                            });
                            Webcam.attach( '#my_camera-2' );
                        
                        }
                        //  take snap for photo
                        function take_snapshot2() {
                        // take snapshot and get image data
                        Webcam.snap( function(data_uri) {
                            // display results in page
                            b.value = data_uri;
                            var y = document.getElementById("s-1").value;
                            var z = document.getElementById("s-2").value;
                            if(y != "" && z != "") {
                                    c.click();
                            }
                                
                        } );
                        }
                        
                      </script>


                      <button @click="isOpen = false" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <!--- Upload photo 2 -->
          <div  x-data="{ isOpen: false }" >
            <button  @click="isOpen = !isOpen" type="submit" class="group transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <!-- Heroicon name: solid/lock-closed -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                </svg>
                
              </span>
              Upload file 2
             
            </button> 
            <div
            x-show="isOpen"
            x-transition:enter="ease-out duration-300 transform"
            x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave="ease-in duration-200 transform"
            x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            
            >
            <div  id="error-modal-6" style="visibility:hidden;"   class="fixed z-10 inset-0 overflow-y-auto" >
              <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
                <!--
                  Modal panel, show/hide based on modal state.
          
                  Entering: "ease-out duration-300"
                    From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    To: "opacity-100 translate-y-0 sm:scale-100"
                  Leaving: "ease-in duration-200"
                    From: "opacity-100 translate-y-0 sm:scale-100"
                    To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                -->
                <div class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full">
                  <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left ">
                        
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Upload your file now:</h3>
                        <P>&nbsp;</P>
                        <form   enctype="multipart/form-data"  method="POST">
                            {% csrf_token %}
                           
                            
                            <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                                <label for="dropzone-file" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                        <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                         
                                    </div>
                                    <input id="dropzone-file" onchange="readURL2(this)"   type="file" class="hidden" required>
                                   
                                    <script>
                                        function readURL2(el) {
                                                if (el.files && el.files[0]) {
                                                    var FR= new FileReader();
                                                    FR.onload = function(e) {
                                                        
                                                         d =   (e.target.result);
                                                    };       
                                                    FR.readAsDataURL( el.files[0] );
                                                } 
                                         };
                                         function display2() {
                                            b.value = d;
                                            var y = document.getElementById("s-1").value;
                                            var z = document.getElementById("s-2").value;
                                            if(y != "" && z != "") {
                                                    c.click();
                                            }
                                         }                                         
                                    </script>
                                </label>
                            </div> 
                            
                             
                        </form>
                        <P>&nbsp;</P>
                        <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button  onclick="display2()" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-500 text-base font-medium text-white hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">Upload</button>
                    <button     @click="isOpen = false"  class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
          </div>

        </dl>


       
         
         


     </div>
  </div>
</div>

 














<!-- styling canvas style -->
<style>
    #myCanvas3 {
         background-image : url("media/uploads/s1.jpg");
         background-repeat: no-repeat;
         width : 100%;
         height: auto;
         background-size: 100%;
         max-width: 600px;
         max-height: 400px;
    }
    #myCanvas4 {
         background-image : url("media/uploads/s2.jpg");
         background-repeat: no-repeat;
         width : 100%;
         height: auto;
         background-size: 100%;
         max-width: 600px;
         max-height: 400px;
    }
</style>


<!-- Face matching Results -->
<div style="margin-top: -90px;" class="py-12 ">

    {% if process != "1" %}
    {% if process == "2" %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div style="position:relative;"  class="lg:text-center">
            <img id="basic1" style="display:none;"   src="media/uploads/s1.jpg">
            <img id="basic2" style="display:none;"   src="media/uploads/s2.jpg">

            <P>&nbsp;</P>
            <P>&nbsp;</P>
            <div class="grid grid-cols-1 md:grid-cols-2 ">
                <center><canvas id="myCanvas3"   style="border:1px solid #d3d3d3;"></canvas></center>
                <center><canvas id="myCanvas4"   style="border:1px solid #d3d3d3;"></canvas></center>
            </div>
            
            
            <!-- set canvas size the same as image size -->
            <!-- a script to set the canvas width equal to the input image size to avoid any problems with  image size object fit -->
            <script>
                var arr1 = [];
                var arr2 = [];
                x = document.getElementById("basic1").width ;
                document.getElementById("myCanvas3").width = x;
                y  = document.getElementById("basic2").height ;
                document.getElementById("myCanvas3").height = y;
                z = document.getElementById("basic1").width ;
                document.getElementById("myCanvas4").width = x;
                w  = document.getElementById("basic2").height ;
                document.getElementById("myCanvas4").height = y;
                c1 = document.getElementById("myCanvas3");
                c2 = document.getElementById("myCanvas4");
                var ctx1 = c1.getContext("2d");
                var ctx2 = c2.getContext("2d");
            </script>
            <!-- --------------------------------------------------- -->

            <!-- script to add rectangles over the image -->
            <dl>
                <!-- display information for face detection nested loop for each face number -->
                            <!-- script to generate a random color for each face -->
                           
                            
                            {% for i in lines2 %}
                            <script>
                                var randomColor1 = Math.floor(Math.random()*16777215).toString(16);
                                  if (!arr1.includes(randomColor1)) {
                                      arr1.push(randomColor1);
                                  }
                                
                            </script>
                            {% for a,b in   i.items %}
                         
    
                              {% if a == "roi" %}
                              <script>
                                // Clip a rectangular area
                                
                                var color = "#" + arr1[arr1.length - 1]
                                ctx1.strokeStyle =  color;
                                currentColor = color;
                                ctx1.lineWidth = 5; 
                                ctx1.strokeRect("{{b.0}}" , "{{b.1}}" , "{{b.2}}" , "{{b.3}}");
                                
                                
                              </script> 
                              
                              {% endif %}
                              
                              <!-- draw landmarks on image -->
                              {% if a == "landmarks" %}
                                <!-- nested loops -->
                               
                                {% for c in b %}
                                <script>
                                  ctx1.lineWidth = 2; 
                                  ctx1.fillStyle = "#" + arr1[arr1.length - 1];
                                  ctx1.fillRect("{{c.0}}" , "{{c.1}}" , 5, 5);
                                </script>
                                {% endfor %}
                              {% endif %}
                             
                           
                            {% endfor %}
                            {% endfor %}
            </dl>
            <dl>
                <!-- display information for face detection nested loop for each face number -->
                            <!-- script to generate a random color for each face -->
                            
                            {% for j in lines1 %}
                            <script>
                                var randomColor2 = Math.floor(Math.random()*16777215).toString(16);
                                  if (!arr2.includes(randomColor2)) {
                                      arr2.push(randomColor2);
                                  }
                                
                            </script>
  
                            {% for a,b in   j.items %}
                              
    
                              {% if a == "roi" %}
                              <script>
                                // Clip a rectangular area
                                
                                var color = "#" + arr2[arr2.length - 1]
                                ctx2.strokeStyle =  color;
                                currentColor = color;
                                ctx2.lineWidth = 5; 
                                ctx2.strokeRect("{{b.0}}" , "{{b.1}}" , "{{b.2}}" , "{{b.3}}");
                                
                                
                              </script> 
                              
                              {% endif %}
                              
                              <!-- draw landmarks on image -->
                              {% if a == "landmarks" %}
                                <!-- nested loops -->
                               
                                {% for c in b %}
                                <script>
                                  ctx2.lineWidth = 2; 
                                  ctx2.fillStyle = "#" + arr2[arr2.length - 1];
                                  ctx2.fillRect("{{c.0}}" , "{{c.1}}" , 5, 5);
                                </script>
                                {% endfor %}
                              {% endif %}
                             
                           
                            {% endfor %}
                            {% endfor %}
            </dl>
            


        </div>

        <P>&nbsp;</P>
        <div class="overflow-hidden bg-gray-200 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Face Matching  Information</h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">Show similarity between each pair of faces :</p>
            </div>
            <!-- display information about faces -->
             
            <div class="border-t  ">
              
              <dl>
                
                <!-- loop to display cropped images information about faces -->
                {% for i in sem %}
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                  <img src="{{i.0}}"  width="100" height="100" id="cropped">
                  {% if  i.3 == True %}
                  <img src="{% static 'f1.png' %}"  width="100" height="100" id="cropped">
                  {% else %}
                  <img src="{% static 'f2.png' %}"  width="100" height="100" id="cropped">
                  {% endif %}
                  
                  

                  
                  <img src="{{i.1}}"  width="100" height="100" id="cropped">
                  
                  {% if i.2 is None %}
                  <P>Could not detect similarity</P>
                  {% else %}
                  <P>Similarity : {{i.2}}  %</P>
                  {% endif %}


                </div>
                <P>&nbsp;</P>
                {% endfor %}
                <P class="text text-blue-600">Json request and Json response are not available .</P>
              </dl>
            </div>
          </div>
          

    </div>
    
    {% elif process == "3" %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
          <h3 class="text-lg leading-6 font-medium text-red-900" id="modal-title">Error : face matching failed</h3>
        </div>
    </div>
 
     
 
    {% endif %}
    {% endif %}



</div>
