{% load static %}

<div class="py-12  bg-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mt-10">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-1 md:gap-x-8 md:gap-y-10">
        <div class="sm:text-center lg:text-left">
          <img src="/static/logo.png" height="50px" width="50px">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p class="mt-2 text-xl leading-8 font-bold tracking-tight  sm:text-4xl sm:tracking-tight">Links:</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <a href="/product" class="mt-4 max-w-2xl text-xl text-gray-500"> Product
          </a>
          <br>
          <p>&nbsp;</p>
          <a href="/video" class="mt-4 max-w-2xl text-xl text-gray-500">  Video
          </a>
          <br>
          <p>&nbsp;</p>
  
          <a href="/data" class="mt-4 max-w-2xl text-xl text-gray-500"> Data
          </a>
          <br>
          <p>&nbsp;</p>
  
          <a href="/contact-us" class="mt-4 max-w-2xl text-xl text-gray-500"> Contact Support
          </a>
          
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p href="#" class="mt-4 max-w-2xl text-xl "> @Copyright Microsrvices.ml
          </p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

     
      </dl>  
      <P>&nbsp;</P>
    </div>   
  </div>
</div>

 
